//- template.pug
-
    var style = {
        accent: '2F80ED'
    }
    var username = 'Skitionek'

include utils.pug
include variable-images/github-readme-stats.pug
include variable-images/github-readme-streak-stats.pug

mixin a()
    a&attributes(merge(
        {target: '_blank', rel: 'noreferrer'},
        attributes
    ))
        if block
            block
mixin icon()
    +a&attributes(pick(attributes, 'href', 'target', 'rel'))
        img&attributes(merge(
            {width: 40, align: 'center', height: 40},
            ommit(attributes, 'href', 'target', 'rel')
        ))
+github-readme-stats({
    kind: 'pin',
    username: 'SBRG',
    repo: 'lifelike'
})
+github-readme-stats({
    kind: 'pin',
    username: 'Skitionek',
    repo: 'notify-microsoft-teams'
})
hr
+github-readme-stats({
    custom_title: 'Github stats'
})
+github-readme-stats({
    kind: 'top-langs',
    layout: 'compact',
    langs_count: 10
})
+github-readme-stats({
    kind: 'wakatime',
    username: '26161014-caaa-405e-86cb-efcd2ca9553e',
    layout: 'compact',
    langs_count: 10,
    custom_title: 'Activity'
})
+github-readme-streak-stats
h1(align="center") I'm Dominik
h3(align="center") A passionate full stack developer with background in embedded systems
p(align="left")
    img(src="https://komarev.com/ghpvc/?username=skitionek&label=Profile%20views&color=0e75b6&style=flat" alt="skitionek")
|- 🔭 I’m currently working on [lifelike](https://github.com/SBRG/lifelike)
|
|- 🌱 I’m currently learning **Arango db, GO**
|
|- 👯 I’m looking to collaborate on [lifelikeopen](https://github.com/Skitionek/lifelike)
|
|- 🤝 I’m looking for help with [notify-microsoft-teams](https://github.com/Skitionek/notify-microsoft-teams)
|
|- 👨‍💻 All of my projects are available at [https://github.com/Skitionek](https://github.com/Skitionek)
|
|- 💬 Ask me about **Angular, Flask, SQLAchemy**
|
|- 📫 How to reach me **Skitionek@gmail.com**
|
|- 📄 Know about my experiences [https://www.linkedin.com/in/dominik-maszczyk/](https://www.linkedin.com/in/dominik-maszczyk/)
h3(align="left") Connect with me:
p(align="left")
    +icon(
        href="https://codepen.io/skitionek"
        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/codepen.svg"
        alt="codepen.io/skitionek"
        height="30"
    )
    +icon(
        href="https://dev.to/skitionek"
        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/devto.svg"
        alt="dev.to/skitionek"
        height="30"
    )
    +icon(
        href="https://linkedin.com/in/dominik-maszczyk"
        src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg"
        alt="linkedin.com/in/dominik-maszczyk"
        height="30"
    )
h3(align="left") Languages and Tools:
p(align="left")
    +icon(
        href="https://angular.io"
        src="https://angular.io/assets/images/logos/angular/angular.svg"
        alt="angular"
    )
    +icon(
        href="https://www.arduino.cc/"
        src="https://cdn.worldvectorlogo.com/logos/arduino-1.svg"
        alt="arduino"
    )
    +icon(
        href="https://babeljs.io/"
        src="https://www.vectorlogo.zone/logos/babeljs/babeljs-icon.svg"
        alt="babel"
    )
    +icon(
        href="https://www.gnu.org/software/bash/"
        src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg"
        alt="bash"
    )
    +icon(
        href="https://getbootstrap.com"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
        alt="bootstrap"
    )
    +icon(
        href="https://circleci.com"
        src="https://www.vectorlogo.zone/logos/circleci/circleci-icon.svg"
        alt="circleci"
    )
    +icon(
        href="https://www.w3schools.com/css/"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
        alt="css3"
    )
    +icon(
        href="https://www.docker.com/"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg"
        alt="docker"
    )
    +icon(
        href="https://www.elastic.co"
        src="https://www.vectorlogo.zone/logos/elastic/elastic-icon.svg"
        alt="elasticsearch"
    )
    +icon(
        href="https://flask.palletsprojects.com/"
        src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg"
        alt="flask"
    )
    +icon(
        href="https://cloud.google.com"
        src="https://www.vectorlogo.zone/logos/google_cloud/google_cloud-icon.svg"
        alt="gcp"
    )
    +icon(
        href="https://git-scm.com/"
        src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
        alt="git"
    )
    +icon(
        href="https://graphql.org"
        src="https://www.vectorlogo.zone/logos/graphql/graphql-icon.svg"
        alt="graphql"
    )
    +icon(
        href="https://www.w3.org/html/"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
        alt="html5"
    )
    +icon(
        href="https://www.jenkins.io"
        src="https://www.vectorlogo.zone/logos/jenkins/jenkins-icon.svg"
        alt="jenkins"
    )
    +icon(
        href="https://jestjs.io"
        src="https://www.vectorlogo.zone/logos/jestjsio/jestjsio-icon.svg"
        alt="jest"
    )
    +icon(
        href="https://kubernetes.io"
        src="https://www.vectorlogo.zone/logos/kubernetes/kubernetes-icon.svg"
        alt="kubernetes"
    )
    +icon(
        href="https://www.linux.org/"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg"
        alt="linux"
    )
    +icon(
        href="https://www.mathworks.com/"
        src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png"
        alt="matlab"
    )
    +icon(
        href="https://www.nginx.com"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nginx/nginx-original.svg"
        alt="nginx"
    )
    +icon(
        href="https://nodejs.org"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
        alt="nodejs"
    )
    +icon(
        href="https://www.postgresql.org"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
        alt="postgresql"
    )
    +icon(
        href="https://redis.io"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redis/redis-original-wordmark.svg"
        alt="redis"
    )
    +icon(
        href="https://redux.js.org"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
        alt="redux"
    )
    +icon(
        href="https://sass-lang.com"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg"
        alt="sass"
    )
    +icon(
        href="https://travis-ci.org"
        src="https://www.vectorlogo.zone/logos/travis-ci/travis-ci-icon.svg"
        alt="travisci"
    )
    +icon(
        href="https://webpack.js.org"
        src="https://raw.githubusercontent.com/devicons/devicon/d00d0969292a6569d45b06d3f350f463a0107b0d/icons/webpack/webpack-original-wordmark.svg"
        alt="webpack"
    )
h3(align="left") Trophies:
p(align="left")
    a(href="https://github.com/ryo-ma/github-profile-trophy")
        +variable-picture(
            "https://github-profile-trophy.vercel.app/",
            {
                username: 'skitionek',
                rank: '-C,-B',
                row: 1,
                column: -1,
                'margin-w': 15,
                'margin-h': 15,
                'no-bg': true,
                'no-frame': true
            }
        )(
            prefers-color-scheme={
                'dark': { 'theme': 'darkhub' },
                'light': { 'theme': 'light' }
            }
            alt="skitionek"
        )
 
