-
    function object_to_query(obj) {
        return '?' + Object.entries(obj).map(([k,v]) => `${k}=${v}`).join('&')
    }
    function merge(...objs) {
        return Object.assign({}, ...objs)
    }
    function keys(obj) {
        return Object.keys(obj)
    }
    function ommit(obj, ...keys) {
        return Object.fromEntries(Object.entries(obj).filter(([key]) => !keys.includes(key)))
    }
    function pick(obj, ...keys) {
        return Object.fromEntries(Object.entries(obj).filter(([key]) => keys.includes(key)))
    }

// Does not work in firefox
//mixin variable-picture(href, options={})
//    picture
//        each media_kv in Object.entries(attributes['prefers-color-scheme'] || {})
//            source(
//                media=`(prefers-color-scheme: ${media_kv[0]})`
//                srcset!=href + object_to_query(merge(options, media_kv[1]))
//            )
//        img(
//            src!=href + object_to_query(options)
//        )&attributes(ommit(attributes, 'prefers-color-scheme'))

mixin variable-picture(href, options={})
    if attributes['dark-mode'] || attributes['light-mode']
        -
            var dark_href = href + object_to_query(merge(
                    options,
                    (attributes['dark-mode'] || {})
            )) + '#gh-dark-mode-only'
        | ![!{attributes.alt || ''}](!{dark_href})
        -
            var light_href = href + object_to_query(merge(
                    options,
                    (attributes['light-mode'] || {})
            )) + '#gh-light-mode-only'
        | ![!{attributes.alt || ''}](!{light_href})
    else
        | ![!{attributes.alt || ''}](!{href + object_to_query(options)})
