-
    var github_readme_stats = {
        'username': username,
        'bg_color': '00000000',
        hide_border: true,
        count_private: true,
        title_color: style.accent
    }

    function github_readme_stats_href(options) {
        switch (options.kind) {
            case 'pin':
                return `https://github.com/${options.username}/${options.repo}`
            default:
                return `https://github.com/${options.username}`
        }
    }

mixin github-readme-stats(options={})
    +variable-picture(
        'https://github-readme-stats.vercel.app/api' + (options.kind ? `/${options.kind}/` : ''),
        merge(
            github_readme_stats,
            ommit(options, 'kind')
        )
        )(
        dark-mode={ theme: 'dark' },
        light-mode={
            text_color: '000000'
        }
        valgin='top',
        href=attributes.href || github_readme_stats_href(options)
    )&attributes(attributes)
